@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

html{
    background-color: #ffffff;
}
html,
p {
    font-family: 'Source Serif Pro',
        serif;

}

::-webkit-scrollbar {
    z-index: 100;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e6dfe2;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-button {
    background-color: #000;
}

::-webkit-scrollbar-corner {
    background-color: #000;
}

* {
    margin: 0px;
    padding: 0px;

}

input {
    outline-color: #ff2f00;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .23);
    border-radius: 0px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

section {
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.24);
}

.btnStyle {
    background-color: #f83d13;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 7px 10px;
    letter-spacing: .1em;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btnStyle:hover {
    background-color: #eed64d;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
    transform: scale(1.05, 1.05);
}

#pepperoniPizza {
    background-color: rgb(255, 187, 187);
}

.btnStyle3 {
    background-color: rgba(0, 0, 0, 0.7);
}

.btnStyle3:hover {
    background-color: #f05348;
    color: #000;
}

.toggleCart {
    position: relative;
}

.fa-circle {
    font-size: 21px !important;
    color: #000000;
}

.num {
    font-size: 12px;
    padding: 3px 6px;
    color: #fff;
}

.num,
.fa-circle {
    position: absolute;
    right: -9px;
    top: -9px;
}

.cart {
    width: 200px;
    height: 400px;
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: -300px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    background-color: #f19393;
    padding: 30px;
    box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.25s ease-in-out;
}

.cart h2 {
    text-align: center;
    margin-bottom: 10px;
}

#cartToggle {
    display: none;
}

#cartToggle:checked~div.menu-body>.cart {
    right: 0px;
}

#cartToggle:checked~div.menu-body {
    right: 100px;
}

#cartToggle:checked~div.menu-body>.cart>a.finishOrder {
    right: 5px;
}

.menu-body {
    position: relative;
    right: 0px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    transition: all .2s ease-in-out;
}

.recipe-menu {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe {
    background-color: #ffffff;
    background-size: 100% 100%;
    padding: 10px;
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
    position: relative;
}

.recipe img {
    width: 100%;
    height: 100%;
}

.name {
    font-size: 23px;
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 22px;
    padding: 0px 15px;
    text-align: center;
}

.recipe:hover>.addToCart {
    opacity: 1;
}

.addToCart {
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 28%;
    transition: all .2s ease-in-out;
}

.checkOrder {
    padding: 50px;
}

.checkOrder {
    padding: 29px 50px !important;
}

.listHeading {
    text-align: center;
    padding: 20px 0;
}

.listOfIngredients {
    list-style: none;
    margin-bottom: 15px;
}

.listOfIngredients input {
    margin: 0px 5px;
}

.addIngredientWrap {
    display: flex;
    margin: 5px 0;
}

.addIngredientWrap input {
    width: 60%;
}

.addIngredientWrap a {
    padding: 2px 6px;
    margin: 0 5px;
    font-size: 15px;
}

.cancelInput {
    background-color: #c90404;
}

.orderName {
    padding: 13px 0px 8px 0px;
}

.orderPrice {
    float: right;
}

hr {
    margin: 25px 0 5px 0;
}

.delBtn {
    float: right;
    color: #f1ac0a;
    cursor: pointer;
}

.totalDialog {
    display: inline-block;

}

.cart>h2>span {
    margin-left: 15px
}

.finishOrder {
    width: 200px;
    position: fixed;
    bottom: 0;
    right: -265px;
    z-index: 2;
    padding: 6px 28px;
    border-radius: 0;
    text-align: center;
}

#finishOrderDialog {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

#finalOrderList {
    width: 40%;
}

#finalOrderList h3 {
    text-align: center;
}

#finalOrderList ol {
    margin: 10px 15px;
}

#buyerInfo {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#buyerInfo input {
    margin: 5px 0;
    padding: 3px;
    width: 90%;
}

#buyerInfo .order {
    display: block;
    width: 50%;
    margin-top: 10px;
    text-align: center;
}

#buyerInfo input::-webkit-input-placeholder {
    text-align: center;
}

#thanksMessage {
    padding: 20px;
}

/* Dialog Style */
.ui-dialog {
    z-index: 2;
    box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    padding: 30px;
}

.ui-draggable-handle {
    position: absolute;
    background-color: #A7D2CB;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    z-index: 999;
}

.ui-button {
    background-color: #f12d2d;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    float: right;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.ui-button:hover {
    background-color: #ff6744;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
    transform: scale(1.05, 1.05);
}

section#welcomeSec,
#menuSec,
#introSec,
#aboutUsSec,
#contactSec,
#reservationSec,
#footerSec {
    width: 100%;
    padding-bottom: 70px;
    background-color: #ffffff;
}

section#welcomeSec {
    width: 100%;
}

#menuSec {
    width: 100%;
    
}

#aboutUsSec {
    width: 100%;
}

#contactSec {
    width: 100%;
}

#footerSec {
    width: 100%;
}

hr.newLine {
    margin-left: 15%;
    width: 70%;
    color: rgb(22, 22, 22);

}

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');


h1 {
    font-family: 'Piedra',
        cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

h2 {
    font-family: 'Lemonada',
        cursive;
}
.card1{
    background-color: #ff1a1a;
}
.card2{
    background-color:#ffd11a;
}
.row .col-md-3 .card {
    background-color: transparent;
    border-style: none;
}

.row .col-md-3 .card img {
    margin-left: 20px;

}
input#nameTxt {
    width: 420px;
    padding-left: 5px;
}

input#mailTxt {
    width: 350px;
    padding-left: 5px;
}

textarea#messageTxt {
    width: 800px;
    height: 150px;
    padding-top: 15px;
    overflow: auto;
    position: relative;
}

input#nameTxt,
input#mailTxt,
textarea#messageTxt {
    border: none;
    padding: 5px 10px;
    margin: 5px 10px 15px 10px;
    background: transparent;
    border-bottom: solid 1px;
    border-color: #000000;
    color: #000000;
    font-family: 'Libre Baskerville',
        serif;
}

::placeholder {
    color: #000000;
    opacity: 1;
    border: none;
}

#submitBtn {
    margin-left: 35%;
    border-radius: 10px;
}

#submitBtn:hover {
    background: transparent;
    color: #000000;
    border-radius: 10px;

}
#menuBtn{
    background-color: #ff1a1a;
    color: #ffffff;
}